<!-- Modal Window -->
<div id="modal-js-credits-window" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <article class="message is-info">
      <div class="message-header">
        <p>Credits</p>
        <button class="delete" aria-label="delete"></button>
      </div>
      <div class="message-body">
        <div class="block">
          Mountains: <br /><a
            href="https://www.freepik.com/vectors/mountain-shape"
            >Mountain shape vector created by pch.vector - www.freepik.com</a
          >
        </div>
        <div class="block">
          Hiking Flat: <br /><a
            href="https://www.freepik.com/vectors/hiking-icon"
            >Hiking icon vector created by macrovector - www.freepik.com</a
          >
        </div>
        <div class="block">
          Mountain Hiking: <br /><a
            href="https://www.freepik.com/vectors/flat-icon"
            >Flat icon vector created by macrovector - www.freepik.com</a
          >
        </div>
        <div class="block">
          Nature: <br /><a href="https://www.vecteezy.com/free-vector/nature"
            >Nature Vectors by Vecteezy</a
          >
        </div>
      </div>
    </article>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
