{% extends "base.html" %} {% block content %}
<section class="container mt-5 has-text-centered">
  <h1 class="title">Welcome, {{ username }}!</h1>
</section>

<!-- Trails List -->
<section class="section">
  <div class="columns is-centered">
    <div class="column is-two-thirds">{% include "trails-list.html" %}</div>
  </div>
</section>

<!-- New Trail Form -->
<section class="section">
  <div class="columns is-centered">
    <div class="column is-two-thirds">
      <form method="POST" action="{{ url_for('main.profile_post') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="box px-6">
          <h3 class="title has-text-centered">New Trail</h3>
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <div class="field">
                  <label class="label">Trail name: </label>
                  <div class="control">
                    <input
                      class="input"
                      type="text"
                      name="trail_name"
                      placeholder="My Trail"
                      required
                    />
                  </div>
                </div>
              </div>
              <div class="level-item">
                <div class="field">
                  <label class="label">Icon: </label>
                  <div class="control">
                    <div class="select">
                      <select name="icon_name" required>
                        <option value="">None</option>
                        {% for icon in icons %}
                        <option>{{ icon }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <div class="field">
                  <div class="control">
                    <button class="button is-link">
                      <strong>CREATE TRAIL</strong>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}
