{% if trails %} {% for trail in trails %}
<div class="block">
  <div class="box px-6">
    <div class="level">
      <div class="level-right">
        <!-- Icon -->
        <div class="level-item">
          <figure
            class="content is-flex is-align-items-center"
            style="width: 12rem; height: 5rem"
          >
            <img
              src="{{url_for('static', filename='images/mountains/' + trail.icon)}}"
              alt="trail.icon"
            />
          </figure>
        </div>
        <!-- Name -->
        <div class="level-item">
          <h2 class="title">{{ trail.name }}</h2>
        </div>
      </div>
      <div class="level-right">
        <!-- Open Button -->
        <div class="level-item">
          <a
            class="button is-link is-outlined"
            href="{{ url_for('main.trail', trail_id=trail.id) }}"
            ><strong>OPEN</strong></a
          >
        </div>
        <!-- Delete Button (to modal window with javascript) -->
        <div class="level-item">
          <button
            class="js-modal-trigger button is-danger is-outlined"
            data-target="{{ 'trail-delete-js-modal-' ~ trail.id }}"
          >
            <strong>DELETE</strong>
            <span class="icon is-small">
              <i class="fas fa-times"></i>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Delete window-->
<div id="{{ 'trail-delete-js-modal-' ~ trail.id }}" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title is-danger">Delete {{ trail.name }}</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="block">
        Selected resource will be deleted.<br />Are you sure?
      </div>
    </section>
    <footer class="modal-card-foot">
      <form
        method="POST"
        action="{{ url_for('main.delete_trail', trail_id=trail.id) }}"
      >
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="field has-addons">
          <div class="control">
            <button class="button is-danger">Delete</button>
          </div>
          <div class="control">
            <div class="button">Cancel</div>
          </div>
        </div>
      </form>
    </footer>
  </div>
</div>
{% endfor %}
<!-- Info message if the trail has no item -->
{% else %}
<div class="columns is-centered">
  <div class="column is-half">
    <article class="message is-info is-medium">
      <div class="message-header">
        <p>Info</p>
      </div>
      <div class="message-body">Add trails to populate the list.</div>
    </article>
  </div>
</div>
{% endif %}
