repos:
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
  - repo: https://github.com/thibaudcolas/pre-commit-stylelint
    rev: v14.8.2
    hooks:
      - id: stylelint
        args: [--allow-empty-input]
        additional_dependencies:
          # stylelint itself needs to be here when using additional_dependencies
          - stylelint@14.8.2
          - stylelint-config-standard@25.0.0
          - stylelint-config-recommended-scss@6.0.0
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.2
    hooks:
      - id: prettier
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.27.1
    hooks:
      - id: commitizen
        stages: [commit-msg]
  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.8.4
    hooks:
      - id: gitleaks
